In [1]:
import time
#import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.utils import check_random_state

In [2]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [4]:
df = pd.read_csv("DATA4.csv",header=None,)

In [131]:
df

       0   1   2   3   4   5  6
0    -60 -68   0   0 -66 -50  1
1    -55 -67   0   0 -72 -50  1
2    -55 -66 -83   0 -68 -54  1
3    -55 -68 -78   0 -68 -53  1
4    -52 -66 -85   0 -67 -55  1
...   ..  ..  ..  ..  ..  .. ..
1452 -48 -70 -75 -83 -79 -71  5
1453 -46 -72 -75 -83 -78 -80  5
1454 -50 -71 -75 -83 -83 -77  5
1455 -51 -74 -75 -77 -78 -77  5
1456 -52 -74 -75 -83 -78 -73  5

[1457 rows x 7 columns]

In [10]:
y=list(df.iloc[:,6])
np.unique(y)

array([1, 2, 3, 4, 5, 6, 7])

In [6]:
X =df.iloc[:,0:6]

In [134]:
X=np.array(X)
X.shape

(1457, 6)

In [135]:
y=np.array(y) #.astype(np.str)

In [136]:

# Randomize the data
random_state = check_random_state(1)

permutation = random_state.permutation(X.shape[0])
X = X[permutation]
y = y[permutation]
X = X.reshape((X.shape[0], -1))

In [137]:
# Split to Train & Test data
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1 ,random_state=1)

In [140]:
# create model

r=RandomForestClassifier(max_depth=None,random_state=1,max_leaf_nodes=None,min_samples_split=2)

In [141]:
# cross validation
results = []
names = []

kfold = StratifiedKFold(n_splits=10, random_state=1, shuffle=True) #10 groups each group of 12 rows(4 samples for each class) 
cv_results = cross_val_score(r, X_train, y_train, cv=kfold, scoring='accuracy')
	
print(' %f (%f)' % ( cv_results.mean(), cv_results.std()))

 0.881755 (0.028255)

In [153]:
# create model and Test it
r.fit(X_train, y_train)
score = r.score(X_test, y_test)

print("Test score with L2 penalty: %.4f" % score)

Test score with L2 penalty: 0.8973

In [150]:
from sklearn_porter import Porter
porter = Porter(r, language='java')

In [151]:
output = porter.export(embed_data=True)

In [152]:
with open('RandomForestClassifier.java', 'w') as f:
    f.write(output)